<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab2">
      <ion-icon name="book"></ion-icon>
      <ion-label>Frases conexion API</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
