<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>

        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Frases.
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Generacion de frases aleatorias</ion-title>
        </ion-toolbar>
    </ion-header>




    <ion-grid>
        <ion-row>

            <ion-col size="3">

                <ion-accordion-group>
                    <ion-accordion value="first">
                        <ion-item slot="header" color="light">
                            <ion-label>FRASES </ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" (click)="loadConponente('frases')">
                            GENERAR NUEVA FRASE
                        </div>
                    </ion-accordion>

                </ion-accordion-group>

            </ion-col>


            <ion-col size="9">

                <ion-row>
                    <ion-col>
                        <ng-template #container></ng-template>
                    </ion-col>
                </ion-row>

            </ion-col>

        </ion-row>

    </ion-grid>




</ion-content>
