<ion-grid>
    <ion-button (click)="getfrases()"> Generar otra frase mas</ion-button>


    <ion-row *ngFor="let frase of getFrase ">

        <ion-card>
            <ion-item>

                <h1>Texto:{{frase.fact}}</h1> <br>
                <h1>Tamaño:{{frase.length}}</h1><br>


            </ion-item>

        </ion-card>



    </ion-row>


</ion-grid>
